.btn-outline-primary:hover {
    background-color: #94baf2;
    color: white;
  }
  
  .btn-outline-primary.active:hover {
    background-color: #0d6efd;
    color: white; 
  }
.xephang img {
    width: 56px;
    height: 46px;
}
.link {
    text-decoration: none;
    color: inherit;
    outline: none;
}